<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/favicon.io"> -->
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Ayan Khan</title>  

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('/static/assets/images/img-01.jpg')"
></div>
<main class="content-wrapper">
  
        <div class="card thank-you">
          <div class="card-block ">
            <h2 class="thanks">Thank you! I will get in touch with you, shortly!</h2>
            </div>
        </div>
              
        
        <div class="card contacting">
          <div class="card-block">
            <h2 class="cont-head">Contact</h2>
            <p class="conta-line">Feel free to reach out to me using the contact details below</p>
            <div class="row">
              <div class="col-md-3">
                <p>Email</p><a href='mailto:ayandgr5@gmail.com'>ayandgr5@gmail.com</a>
              </div>
              <div class="col-md-3">
                <p>Phone No.</p><a href="tel:+91 8800-154-017">+91 8800154017</a>
              </div>
              <div class="col-md-3">
                <p>Resume</p><a href="tel:+91 8800-154-017">Ayan Khan CV</a>
              </div>
            </div>
          </div>
        </div>

</main>

<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        
        
        <p>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/ayan-k-471051116/" title="">
            <i class="fa fa-linkedin"></i>
          </a>
          
          <a class="fa-icon fa-icon-2x" href="https://github.com/AyanDgr8" title="">
            <i class="fa fa-github"></i>
          </a> 
          <a class="fa-icon fa-icon-2x" href="https://khanayan.pythonanywhere.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          
          <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/ayandgr8/" title="">
            <i class="fa fa-facebook"></i>
          </a>
          
          <a class="fa-icon fa-icon-2x" href="https://www.instagram.com/khanayanx_/" title="">
            <i class="fa fa-instagram"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>

<script type="text/javascript" src="./static/main.bc58148c.js"></script>

</body>

</html>